<%-include headerLayout %>
  <h3 class='title'>杭州电影院一览</h3>
  <div class='container'>
	<div class="cinema_name"><h4>影院名</h4>
	  <% cinemas.forEach( function (cinema){%>
		<li class='color_li'><%= cinema.name %></li>
	  <% }) %>
	</div>
	<div class="cinema_address"><h4>地址</h4>
	  <% cinemas.forEach( function (cinema){%>
		<li class='color_li'><%= cinema.address %></li>
	  <% }) %>
	</div>
	<div class="cinema_appraise"><h4>评分</h4>
	  <% cinemas.forEach( function (cinema){%>
		<li class='color_li'><%= cinema.appraise %></li>
	  <% }) %>
	</div>
  </div>
<%- include footerLayout %>