<%- include headerLayout %>
 <% movies.forEach(function(movie){ %>
 	<div>
 		<img src=<%= movie.movie_image %>>
	 	<h4><a href=""><%= movie.movie_name %></a></h4>
	 	<p><%= movie.movie_praise %>分</p>
	</div> 		
 <% }) %>	
<%- include footerLayout %>
